@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
  background-image: url("hello.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-image: url("test.jpg");
 } */